* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

:root {
    --url: url("mole.png");
    --lightgreen: #69d949;
    --whitegreen: #ccfccc;
}

/* Media query, disable start button if unusual window size.*/
@media screen and (max-width: 400px), (max-height: 750px) {
    #start {
        display: none;
    }
    #config::before {
        content: "The game cannot run in this window, please use a larger window.";
    }
}
/* Main flexbox container, consists of images and game grid.*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    position: relative;
    cursor: not-allowed;
    background-image: url("texture.png");
    background-size: cover;
}

/* Main game grid, customizable in JS */
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 60vh;
    width: 60vh;
    min-width: 445px;
    margin: 0 auto;
    position: relative;
    grid-gap: 5px;
    border: 10px inset rgba(0, 0, 0,0.5);
    background: var(--lightgreen);
    cursor: url("mallet.png"), auto;
    flex-shrink: 0;
}

/* Game grid items */
.box {
    color: red;
    border: 0.5px solid greenyellow;
    background-image: url("grass.png");
    background-position: center;
    background-size: cover;
    max-width: 20vh;
}

/* Mole appearance */
#selected {
    background-image: var(--url);
    background-position: center;
    background-size: cover;
}

/* Mole fade animation */
.selected-ain {
    animation: fade-in 1s linear;
    animation-iteration-count: infinite;
}

.selected-aout {
    animation: fade-out 1s linear;
    animation-iteration-count: infinite;
}

@keyframes fade-in {
    0% { opacity: 0; }
    20% { opacity: 1; }
}

@keyframes fade-out {
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/* Wrapper for the game menu, for positions to work */
#menu-outer,#giant-outer{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute; /* Overlay on top of main game */
    pointer-events: none;
    z-index: 1;
}

#giant-outer {
    z-index: 0;
}

/* For both config and pause menu */
.menu {
    background-image: url("menu.png");
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    border-radius: 15px;  /* 圆角效果 round border */
}

/* Configuration menu */
#config {
    background-color: #86ef54;  /* 确保红色背景 red bg */
    opacity: 1;  /* 完全不透明 opaque */
    padding: 20px;  /* 添加内边距 add space*/
    margin-top: -60px; 
    width: 60%;
}

/* Input boxes */
#config > input, select{
    background-color: var(--whitegreen);
    color: #333;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    width: 85%;
    padding: 1%;
    margin: 1%;
}

/* Menu button hover effect */
#config > button, .pause-wrapper button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    background-color: #1be7ff;
    box-shadow: #333 5px 5px 0px;
}
#config > button:hover, .pause-wrapper button:hover {
    background-color: #ffb800;
    box-shadow: #333 5px 5px 0px;
    cursor: pointer;
}

/* Pause Menu */
#pause {
    height: 85%;
    width: 60%;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    margin: 0 auto;
    text-align: center;;
}

/* Pause flexbox for vertically and centering the content */
.pause-wrapper {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    height: 100%;
}

/* Prevent scrolling */
body {
    overflow: hidden;
}

/* Filler images for the game grid */
.filler {
    height:100%;
    width: 500px;
}
#f1 {
    background-image: url('filler1.png');
    background-size: cover;
}
#f2 {
    background-image: url('filler2.png');
    background-size: cover;
}

/* Shake Animation */
.shake {
    overflow:hidden;
}

.shake-animation {
    animation: shake 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;

}
    
@keyframes shake {
    0% { transform: translate(1px, 1px); opacity: 0.95; }
    10% { transform: translate(-1px, -2px); opacity: 0.9; }
    20% { transform: translate(-3px, 0px); opacity: 0.85; }
    30% { transform: translate(3px, 2px); opacity: 0.9; }
    40% { transform: translate(1px, -1px); opacity: 0.95; }
    50% { transform: translate(-1px, 2px); opacity: 0.9; }
    60% { transform: translate(-3px, 1px); opacity: 0.85; }
    70% { transform: translate(3px, 1px); opacity: 0.9; }
    80% { transform: translate(-1px, -1px); opacity: 0.95; }
    90% { transform: translate(1px, 2px); opacity: 0.9; }
    100% { transform: translate(1px, -2px); opacity: 0.95; }
}

/* Giant mole */
#giant {
    background-image: url("mole.png");
    background-position: center;
    z-index: 2;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: -100vh;  
    left: 100vw;
    margin: 0 auto;
    pointer-events: initial;
    transition: top 0.5s ease, left 0.5s ease;
}

#giant:active {
    animation: giant-shake 0.2s linear;
}

@keyframes giant-shake {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-5px, 5px); }
    40% { transform: translate(5px, -5px); }
    60% { transform: translate(-5px, -5px); }
    80% { transform: translate(5px, 5px); }
    100% { transform: translate(0, 0); }
}

/* Lives image */
#lives img.heartpic {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    vertical-align: middle;
}

.hearts {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    vertical-align: middle;
}

/* Grid for stat menu */
.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-image: url('statsbar.png');
    background-size: cover;
}

/* Countdown bar wrapper */
.stats > #countdown {
    margin-top: 25px;
    height: 10vh;
    grid-area: 1/1/span 1/ span 2;
    /* background-color: blue; */
}

/* Countdown bar */
#countdown-bar {
    height: 6vh;
    width: 90%;
    margin: 2vh auto;
    border: 2px solid white;
    background-color: #69d949;
    background-image: url("grass.png");
    border-radius: 15px;;
    text-align: center;

}

/* Score and Lives */
#scorebar, #livesbar {
    margin: 0 auto;
    padding: 10px 50px;
    height: 10vh;
    width: 80%;
    margin-bottom: 25px;
    color: #ccfccc;
    background-image: url('statsbar.png');
    background-position: bottom;
}

/* Make text style inline */
#scorebar h1{
    display: inline-block;
}