
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 50vh;
    width: 50%;
    margin: 0 auto;
    position: relative;
    gap: 5px;
    border: 1px solid black;
}
.box {
    color: red;
    border: 1px solid black;
}
#selected {
    background-color: red;
    background-image: url("mole.jpg");
    background-position: center;
    background-size: cover;
    transition: opacity 1s ease;
}
#wrong {
    background-color: red;
    transition: background-color 0.25s linear;
}

#menu-outer {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.menu {
    background-color: red;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

#config {
    pointer-events: none;
    opacity: 0;
    height: 75%;
    width: 75%;
}

#pause {
    height: 75%;
    width: 75%;
    opacity: 0;
    pointer-events: none;
}

body {
    overflow: hidden;
}
.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */

    overflow:hidden;
    }

.shake-animation {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
    
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    animation-play-state: running;

}
    
@keyframes shake {
    0% { transform: translate(1px, 1px); opacity: 1; }
    10% { transform: translate(-1px, -2px); opacity: 0.8; }
    20% { transform: translate(-3px, 0px); opacity: 0.6; }
    30% { transform: translate(3px, 2px); opacity: 0; }
    40% { transform: translate(1px, -1px); opacity: 0.8; }
    50% { transform: translate(-1px, 2px); opacity: 0.6; }
    60% { transform: translate(-3px, 1px); opacity: 1; }
    70% { transform: translate(3px, 1px); opacity: 0.8; }
    80% { transform: translate(-1px, -1px); opacity: 0.6; }
    90% { transform: translate(1px, 2px); opacity: 0; }
    100% { transform: translate(1px, -2px); opacity: 0.8; }
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }    
}